<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.BoardMapper">

		<select id="selectBoardAll" resultType="com.java.dto.Board">
			select * from board			
		</select>

		<select id="selectBoardOne" resultType="com.java.dto.Board">
			select * from board where bno=#{bno}			
		</select>
		
		<insert id="insertOne">
	insert into board values (board_seq.nextval, #{id}, #{btitle},#{bcontent},sysdate,0, board_seq.currval,0,0,#{bfile})
		</insert>

		<update id="updateOne">
	update board set btitle=#{btitle},bcontent=#{bcontent}
	,bfile=#{bfile} Where bno=#{bno}
		</update>
		
		<delete id="bdeleteOne">
			delete from board where bno=#{bno}
		</delete>
	
		<update id="updateBhitUp">
			update board set bhit=bhit+1 where bno=#{bno}
		</update>











</mapper>



