<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.Bmapper">
	
	<select id="selectAll" resultType="com.java.dto.Board" >
		<![CDATA[  select*from(select rownum num,a.*from board a)
		where num >=#{startRow} and num <=#{endRow}   ]]>
		
	</select>
		
	<select id="getselectOne" resultType="com.java.dto.Board" >
		select * from board  where bno=#{bno}
	</select>
	<insert id="insertOne" >
		insert into board values (
	board_seq.nextval, #{id}, #{btitle},#{bcontent},sysdate,
	0,board_seq.currval, 0,0,#{bfile})
	</insert>

	<update id="updateOne">
		update board set btitle=#{btitle}, bcontent=#{bcontent}, 
		bfile=#{bfile} where bno=#{bno}
	</update>
	<delete id="deleteOne">
		delete from board where bno=#{bno}
	</delete>
	<update id="updateBhit">
		update board set bhit=bhit+1 where bno=#{bno}
	</update>
	<insert id="insertReplyOne">
	insert into board values (board_seq.nextval,
	#{id},#{btitle},#{bcontent},sysdate, 0,
	#{bgroup} , #{bstep}+1 , #{bindent}+1,
	#{bfile})
	</insert>
	<update id="updateBstepCount">
	update board set bstep = bstep+1 where
	bgroup = #{bgroup} and bstep > #{bstep}
	</update>
	
	<select id="selectListCount" resultType="int">
			select count(*)from board
	</select>
	
	
</mapper>



