<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.BMapper">
	<select id="selectAll" resultType="com.java.dto.Board">
		select * from (select rownum rnum, a.* from (select * from board 
	<if test="category == 'title'"> 
		where btitle like '%'||#{s_word}||'%'
	</if>
	<if test="category == 'content'"> 
		where bcontent like '%'||#{s_word}||'%'
	</if>
	<if test="category == 'all'"> 
		where btitle like '%'||#{s_word}||'%' or bcontent like '%'||#{s_word}||'%'
	</if>
	<![CDATA[
		order by bgroup desc, bstep asc) a)
		where rnum>=#{startRow} and rnum<=#{endRow}
	]]>
	</select>
	<select id="selectOne" resultType="com.java.dto.Board">
			select * from board where bno=#{bno}
	</select>
	<select id="selectPrev" resultType="com.java.dto.Board">
			select * from board where bno = ( 
			select prevDto from
			(select bno, btitle, lag(bno,1,-1) over(order by bgroup desc, bstep asc)
			as prevDto from board 
		<if test="category == 'title'"> 
			where btitle like '%'||#{s_word}||'%'
		</if>
		<if test="category == 'content'"> 
			where bcontent like '%'||#{s_word}||'%'
		</if>
		<if test="category == 'all'"> 
			where btitle like '%'||#{s_word}||'%' or bcontent like '%'||#{s_word}||'%'
		</if>
			order by bgroup desc, bstep asc)
			where bno = #{bno})
	</select>
	<select id="selectNext" resultType="com.java.dto.Board">
			select * from board where bno = ( 
			select nextDto from
			(select bno, btitle, lead(bno,1,-1) over(order by bgroup desc, bstep asc)
			as nextDto from board 
		<if test="category == 'title'"> 
			where btitle like '%'||#{s_word}||'%'
		</if>
		<if test="category == 'content'"> 
			where bcontent like '%'||#{s_word}||'%'
		</if>
		<if test="category == 'all'"> 
			where btitle like '%'||#{s_word}||'%' or bcontent like '%'||#{s_word}||'%'
		</if>
			order by bgroup desc, bstep asc)
			where bno = #{bno})
	</select>
	<select id="selectListCount" resultType="int">
		select count(*) from board
		<if test="category == 'title'"> 
			where btitle like '%'||#{s_word}||'%'
		</if>
		<if test="category == 'content'"> 
			where bcontent like '%'||#{s_word}||'%'
		</if>
		<if test="category == 'all'"> 
			where btitle like '%'||#{s_word}||'%' or bcontent like '%'||#{s_word}||'%'
		</if>
	</select>
		
		<select id="selectComAll" resultType="com.java.dto.Comment">
			select * from commentBoard where bno=#{bno} order by cno desc
		</select>
	
	<insert id="commentInsert">
		<selectKey resultType="int" keyProperty="cno" order="BEFORE">
			select comment_seq.nextval from dual
		</selectKey>
			insert into commentBoard values
			(#{cno}, #{bno}, #{id}, #{cpw}, sysdate, #{ccontent})
			
	</insert>
		<select id="selectComOne" resultType="com.java.dto.Comment">
			select * from commentBoard where cno =#{cno}
		</select>
		
	<delete id="commentDelete">
			delete from commentBoard where cno = #{cno}
	</delete>
	
	<update id="commentUpdate">
		update commentBoard set cpw=#{cpw}, cdate=sysdate, ccontent=#{ccontent}
		where cno=#{cno}
	</update>
	
	
	
</mapper>